<nav class="navbar shadow-sm navigation  ">
  <a class="navbar-brand m-0 " href="#">{{applicationTitle}}</a>
  <div class="nav navbar-dark">
  <ul class="navigation-item">
      <li> <a class="nav-item nav-link float-lg-right float-sm-left float-md-right pr-2" href="#">Home</a></li>
      <li class="form-inline ml-3">
        Search Courses:
        <input type="text" class=" nav-item ml-2" placeholder="Search COURSE.." #searchcourse >
        <button class=" " id="searchButtonColor" (click)="onSearchClick(searchcourse)"><i class=" material-icons ">search</i></button>
        <button class=" " id="searchButtonCloseColor" (click)="onCloseClick()"[disabled]='blur'><i class=" material-icons "></i>Close</button>
      </li>
  </ul>
  </div>
</nav>
